<%- include ("includes/header") %>
      
<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
							<%- include ("includes/left-sidebar") %>
						</div>

						<div class="col-md-6">

							<div id="add-post-box"></div>

							<div class="loadMore" id="newsfeed">

							</div>
						</div>

						<div class="col-md-3">
							<%- include ("includes/right-sidebar") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var isHomePage = true;

	function doPost(form) {
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/addPost", true);

		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				var response = JSON.parse(this.responseText);

				alert(response.message);

				if (response.status == "success") {
					document.getElementById("form-add-post").querySelector("input[name='image']").value = "";
					document.getElementById("form-add-post").querySelector("input[name='video']").value = "";
					document.getElementById("form-add-post").querySelector("textarea[name='caption']").value = "";

					document.getElementById("post-img-preview").style.display = "none";
					document.getElementById("post-video-preview").style.display = "none";

					showNewsfeed();
				}
			}
		};

		var formData = new FormData(form);
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);

		return false;
	}

	function showNewsfeed() {
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/getNewsfeed", true);

		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				var response = JSON.parse(this.responseText);

				var html = "";
				for (var a = 0; a < response.data.length; a++) {
					var data = response.data[a];

					html += '<div class="central-meta item">';
						html += '<div class="user-post">';
							html += '<div class="friend-info">';

								html += '<figure>';
									//html += '<img src="' + mainURL + "/" + data.user.profileImage + '" style="width: 45px; height: 45px; object-fit: cover;">';
									html += '<img src="' + data.user.profileImage + '" style="width: 45px; height: 45px; object-fit: cover;">';
								html += '</figure>';

								html += '<div class="friend-name">';
									html += '<ins>';
										if (data.type == "post")
										{
											html += '<a href="https://thelighthouseshines.herokuapp.com/user/' + data.user.username + '">';
												html += data.user.name;
											html += '</a>';
										}
										else
										{
											html += data.user.name;
										}
									html += '</ins>';

									var createdAt = new Date(data.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();

									html += '<span>Published: ' + date + '</span>';
								html += '</div>';

								html += '<div class="post-meta">';

									html += '<div class="description">';
										html += '<p>';
											html += data.caption;
										html += '</p>';
									html += '</div>';

									if (data.image != "") {
										//html += '<img src="' + mainURL + "/" + data.image + '">';
										html += '<img src="' + data.image + '">';
									}

									if (data.video != "") {
										//html += '<video style="height: 359px; width: 100%;" controls src="' + mainURL + "/" + data.video + '"></video>';
										html += '<video style="height: 359px; width: 100%;" controls src="' + data.video + '"></video>';
									}

									html += createLikesSection(data);
								html += '</div>';
							html += '</div>';

							html += "<div id='post-comments-" + data._id + "'>";
								html += createCommentsSection(data);
							html += "</div>";

						html += '</div>';
					html += '</div>';
				}
				document.getElementById("newsfeed").innerHTML = html;
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);
	}

	/*
<?php
session_start();

echo `	<form method="post">
    		<label>Username</label>
    		<input type="text" name="username" pattern="[a-zA-Z0-9]+" required />
    		<label>Password</label>
    		<input type="password" name="password" required />
  			<button type="submit" name="login" value="login">Log In</button>
		</form>`;

$conn = mysqli_connect("ccphplab", "ccphplab", "ccphplab", "users");

if (isset($_POST['login'])) {
        $username = $_POST['username'];
        $password = $_POST['password'];
        $sql = "SELECT username, password FROM users";
		$result = $conn->query($sql);
        if ($result->num_rows > 0) {
  			while($row = $result->fetch_assoc()) {
    			echo $row["username"]. " has logged in successfully.<br>";
  			}
		} else {
  		echo "Invalid Credentials";
	}
	$conn->close();
    }
?>

package com.amazonaws.samples;

import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.SQLException;
import java.util.List;
import com.amazonaws.regions.Regions;
import com.amazonaws.services.rds.AmazonRDS;
import com.amazonaws.services.rds.AmazonRDSClientBuilder;
import com.amazonaws.services.rds.model.DBInstance;
import com.amazonaws.services.rds.model.DescribeDBInstancesResult;

public class LabDemo {

	public static void main(String[] args) {
		// TODO Auto-generated method stub
		AmazonRDS aws = AmazonRDSClientBuilder.standard().withRegion(Regions.AP_SOUTH_1).build();
		DescribeDBInstancesResult dbInstR = aws.describeDBInstances();
		List<DBInstance> dbI = dbInstR.getDBInstances();
		for(DBInstance dbIs:dbI) {
			System.out.println("DB Detail: " + dbIs);
		}
		
		try {
			Connection conn = DriverManager.getConnection("jdbc:oracle:thin:@demooracle.cmzjle7sap6g.ap-south-1.rds.amazonaws.com:1521:ORCL","user1234","user1234");
			java.sql.Statement s=conn.createStatement();
			java.sql.ResultSet rs=s.executeQuery("Select * from DUAL");
			while(rs.next()) {
				String id = rs.getString(1);
				System.out.println(id);
				
			}
			s.close();
			conn.close();
			
		} catch (SQLException e) {
			// TODO Auto-generated catch block
			e.printStackTrace();
		}
		
	}

}
*/
</script>

<%- include ("includes/footer") %>
